/* 전체 화면 */
body {
    margin: 0;
    height: 100vh;
}

/* 전체 레이아웃 */
.container {
    display: flex;
    height: 100%;
}

/* 왼쪽 패널 */
.sidebar {
    width: 260px;
    /* Homey처럼 고정 영역 */
    padding: 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* 중앙 메인 영역 */
.main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 북마크 영역 */
.bookmarks {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 24px;
    text-align: center;
}

/* 와이어프레임 확인용 */
.box {
    border: 1px dashed #aaa;
    padding: 12px;
}